.step_three__wrapper {
  width: 100%;
  height: 890px;
  display: flex;
  justify-content: center;
  transform: translateY(36px);
}

.step_three__container {
  height: 100%;
  padding: 170px 0px;
  display: flex;
}

.container__left {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
}

.left__image {
  width: 724px;
  height: 424px;
}

.container__right {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  padding-left: 20px;
}

.right__title {
  font-weight: 700;
font-size: 32px;
line-height: 44px;
color: var(--color-bright-yellow);
}

.right__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
}

.content__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  color: var(--color-white);
}

.item__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 65px;
  
}

.item__desc {
  display: inline-block;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
}

@media (width <= 1440px) {
  .step_three__container {
    transform: translateX(-88px);
  }
}